{% extends "layout.njk" %}
{% block content %}

<main class="container">

    <form action="/tweeps" method="post">
        <label for="text"></label>
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <input type="submit" id="submit" name="submit">
    </form>

</main>

{% endblock %}