{% block nav %}
<nav class="nav">
  <a class="nav-link active" aria-current="page" href="#">Index</a>
  <a class="nav-link" href="/login">Login</a>
  <a class="nav-link" href="/login">User</a>
  <a class="nav-link disabled" aria-disabled="true" href="#">Delete</a>
</nav>
{% endblock %}